.teal-modules-general.trigger-tooltips-button {
  border: none;
  background: white;
  opacity: 0.2;
}

.teal-modules-general.trigger-tooltips-button:hover {
  opacity: 0.6;
}

.teal-modules-general.trigger-tooltips-button i {
  font-size: 0.85em;
}

.teal-modules-general.trigger-tooltips-button {
  position: relative;
}

.teal-modules-general.trigger-tooltips-button > .plotly-icon-tooltip {
  visibility: hidden;
  position: absolute;
  top: 125%;
  right: 0;
  transform: translateX(0);
  background: #121f3d;
  color: #fff;
  padding: 6px 10px;
  border-radius: 3px;
  z-index: 1000;
  font-size: 12px;
}

.teal-modules-general.trigger-tooltips-button:hover > .plotly-icon-tooltip {
  visibility: visible;
  opacity: 1;
}

.teal-modules-general.trigger-tooltips-button > .plotly-icon-tooltip::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 10px;
}
