/* simple custom css rules
   not transfered to teal as in future the tmg modules will be independent of it */

.text-blue {
  color: blue;
}

.m-15px {
  margin: 15px;
}

.mt-15px {
  margin-top: 15px;
}

.mb-15px {
  margin-bottom: 15px;
}

.mr-15px {
  margin-right: 15px;
}

.ml-15px {
  margin-left: 15px;
}

.ml-30px {
  margin-left: 15px;
}

.display-inline-block {
  display: inline-block;
}

.display-flex {
  display: flex;
}

.w-10 {
  width: 10%;
}

.w-70 {
  width: 70%;
}

.w-100 {
  width: 100%;
}

.font-150p {
  font-size: 150%;
}

.white-space-normal {
  white-space: normal;
}

/* per module rules */

/* file viewer */
#file_viewer_encoding {
  overflow-y: hidden;
  overflow-x: auto;
}

#embed_pdf {
  height:600px;
  width:100%
}
