/* teal.modules.general custom css */

.m-4 {
  margin: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.ml-8 {
  margin-left: 2rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.w-10 {
  width: 10%;
}

.w-70 {
  width: 70%;
}

.w-full {
  width: 100%;
}

.font-150p {
  font-size: 150%;
}

.whitespace-normal {
  white-space: normal;
}

/* per module rules */

/* file viewer */
.file_viewer_encoding {
  overflow-y: hidden;
  overflow-x: auto;
}

.embed_pdf {
  height: 600px;
  width: 100%;
}